@charset "utf-8"

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
.roboto {
    font-family: 'Roboto', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.notosans {
 font-family: 'Noto Sans', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.robotoslab{
  font-family: 'Roboto Slab', serif;  
}

.playfairdisplay{
  font-family: 'Playfair Display', serif;
}

.ubuntu{
  font-family: 'Ubuntu', sans-serif;  
}

.notoserif{
 font-family: 'Noto Serif', serif;   
}

.nunitosans{
    font-family: 'Nunito Sans', sans-serif;
}

.lato{
    font-family: 'Lato', sans-serif;
}
.quicksand{
    font-family: 'Quicksand', sans-serif;
}
.karla{
    font-family: 'Karla', sans-serif;
}
.oxygen{
    font-family: 'Oxygen', sans-serif;
}

.bebasneue{
  font-family: 'Bebas Neue', cursive;  
}
.anton{
    font-family: 'Anton', sans-serif;
}
.jost{
    font-family: 'Jost', sans-serif;
}
.ptSans{
    font-family: 'PT Sans', sans-serif;
}
.merriweather{
 font-family: 'Merriweather', serif;   
}
.rubik{
    font-family: 'Rubik', sans-serif;
}
.notosanskr{
    font-family: 'Noto Sans KR', sans-serif;
}
.nanumgothic{
    font-family: 'Nanum Gothic', sans-serif;
}
.nanummyeongjo{
    font-family: 'Nanum Myeongjo', serif;
}
.nanumpenscript{
    font-family: 'Nanum Pen Script', cursive;
}
.notoserifkr{
  font-family: 'Noto Serif KR', serif;  
}
.gothic{
  font-family: 'Gothic A1', sans-serif;  
}
.jua{
  font-family: 'Jua', sans-serif;  
}
.nanumbrushscript{
    font-family: 'Nanum Brush Script', cursive;
}
.blackhansans{
    font-family: 'Black Han Sans', sans-serif;
}
.dohyeon{
  font-family: 'Do Hyeon', sans-serif;  
}

